.vet-search-map {
    height: 100vh;
}

@keyframes purpleMark {
    from {opacity: 0.0;}
    to {opacity: 1;}
}

.nearest-point {
    animation-name: purpleMark ;
    animation-duration: 2s;
    height:64px;
    margin-left: -32px;
    margin-top: -64px;
}

.start-point {
    height: 54px;
    margin-left:-27px;
    margin-top:-70px;
}

.nearest-vet-container {
    font-size: 1vw;
    text-align: center;
    color: black;
    transition: all 0.3s ease-in;
}

.nearest-vet-container:hover {
    background-color: lightgrey;
}
