.advice {
    padding: 1%;
}

.one-vet-container {
    margin-top: 5%;
}

.single-vet-element  a:link {
    text-decoration: none;
}

.single-vet-element {
    transition: all 0.1s ease-in;
}

.single-vet-element :hover {
    transform: translate(-2px, -2px);
    box-shadow: 18px 18px 20px -17px rgba(0, 0, 0, 0.73);
}

#uncontrolled-tab-example .btn-toolbar {
    display: table;
    margin: 0 auto;
}

#loading {
    animation: loading-spin infinite 5s linear;
    color: black;
    background: white;
    font-size: 200%;
    margin-left: 50%;

}

@keyframes loading-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.modal-body {
    top: 50%;
}

.info {
    color: #337ab7;
}
