.App-Menu {

    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0;
    color: white;
    background-color: #222222;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: rgb(11, 203, 204);
}