.col-sm-12, .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right:0;
}

.mapMain {
    height: 80vh;
}

.pointer-main-map {
    margin-left: -32px;
    margin-top: -64px;
}

.popover-style {
    transition: all 0.1s ease-in;
}