.mapMain {
    height: 100vh;
}

.pointer-main-map {
    margin-left: -32px;
    margin-top: -64px;
}

.popover-style {
    transition: all 0.1s ease-in;
}

/*@keyframes pop {*/
    /*from {*/
        /*opacity: 1;*/
    /*}*/
    /*to {*/
        /*opacity: 0.0;*/
    /*}*/
/*}*/

/*.popover-style {*/
    /*animation-name: pop;*/
    /*animation-duration: 7s;*/
/*}*/