.vet {
    border: 1px solid black;
    margin: 1%;
}

.vet-list-container {
    text-align: center;
    color: black;
}

.vet.p, strong{
    font-size: 2.5vh;
}


@media screen and (max-width:800px) {
    strong, p{
        font-size: 2vh;
    }}


.vets-img{
    margin-top: 5%;
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

#views {
    color: #337ab7;
}

.list-group {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}