.vet {
    border: 1px solid black;
    margin: 1%;
}

.vet-list-container {
    text-align: center;
    color: black;
}

strong, p{
    font-size: 2.5vh;
}


@media screen and (max-width:800px) {
    strong, p{
        font-size: 2vh;
}}


.vets-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}