.App-Menu-Item {
    list-style: none outside none;
    display: inline;
    padding: 0 20px;
    margin: 0;
    width:100%;
}



.btn.default{
    font-size: 1.5vw;
    color: white;
}

.btn.default.active{
    font-size: 1.5vw;
    color: rgb(11, 203, 204);
}
