.App-Menu-Item {
    list-style: none outside none;
    display: inline;
    padding: 0 10px;
    margin: 0;
    width:100%;
}


.btn.default{
    font-size: 2vw;
    color: white;
}

.btn.default.active{
    font-size: 2.5vw;
    color: dodgerblue;
}
