.office-list-container {
    font-size: 2.5vh;
    text-align: center;
    color: black;
    transition: all 0.1s ease-in;
}

.office-list-container:hover {
    transform: translate(-3px, -3px);
    box-shadow: 18px 18px 20px -17px rgba(0, 0, 0, 0.73);

}

#offices .rc-slider {
    margin-top: 20px;
    margin-bottom: 30px;
}

#offices .rc-slider-handle {
    background-image: url("./paw-sidebar.png");
    background-size: cover !important;
    background-color: rgb(11, 203, 204);
    width: 40px;
    height: 40px;
    margin-top:-13px;
}


#offices .rc-slider-track {
    background-color: rgb(11, 203, 204) ;
    height:15px
}

#offices .rc-slider-step {
    height:13px;
}

#offices {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(51,122,183,0),rgba(51,122,183,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, rgba(51,122,183,0),rgba(51,122,183,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(51,122,183,0),rgba(51,122,183,1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(51,122,183,0), rgba(51,122,183,1)); /*Standard*/
}