.office-list-container {
    font-size: 2.5vh;
    text-align: center;
    color: black;
    transition: all 0.1s ease-in;
}

.office-list-container:hover {
    transform: translate(-3px, -3px);
    box-shadow: 18px 18px 20px -17px rgba(0, 0, 0, 0.73);

}

.rc-slider-handle {
    background-image: url("./paw-sidebar.png");
    background-size: cover;
}

.rc-slider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rc-slider-track {
    background-color: rgb(11, 203, 204);
}