.office-map {
    width: auto;
    height: 300px;
}

.vet-list-container {
    font-size: 1vw;
    text-align: center;
    color: black;
    margin-top: 5%;
}

.vet-list-container li {
    list-style-type: none;
}

.pointer-one-office {
    margin-left: -32px;
    margin-top: -64px;
}